.wrapper {
    height: calc(100% - 120px);
    margin: auto 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none;
}

.main-content {

}