.containerInner {
    height: calc(100% - 140px);
}

.wrapper {
    height: calc(100% - 100px);
    margin: auto 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scrollbar-width: none;
}

.main-content {

}