@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

.container {
    height: 70px;
    background: rgb(134,215,215);
    background: linear-gradient(0deg, rgba(134,215,215,1) 0%, rgba(74,114,114,1) 35%, rgba(74,114,114,1) 55%, rgba(134,215,215,1) 100%);    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    font-family: "Oswald", sans-serif;
    color: #eeeeee;
}

.logo {
    width: 64px;
    height: 64px;
}