.containerFooter{
    height: 70px;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    background: #86d7d7;
    padding: 0 8px;
}


.btn {
    font-family: "Oswald", sans-serif;
    color: #ffffff;
    font-size: 20px;
    background: #D78686;
    padding: 8px 16px;
    text-decoration: none;
    height: 32px;
}

.btn:hover {
    background: #b37171;
    text-decoration: none;
}

.inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: var(--tg-viewport-width);
}